/* pour le loader */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
@media screen and (min-width: 1024px) {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  ul .guide__tuto {
    width: 20%;
  }
  ul .card {
    width: 20%;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  ul .guide__tuto {
    width: 50%;
  }
  ul .card {
    width: 70%;
    margin-bottom: 32px;
  }
}

main {
  background-color: #f6f6f6;
  padding: 40px 0;
}

a, li {
  color: black;
  text-decoration: none;
  list-style: none;
}

p {
  font-weight: 300;
  font-size: 16px;
}

h2 {
  width: 90%;
  padding: 12px;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
}

.fa-circle-check {
  font-size: 28px;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background-color: #99E2D0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: gopage 1s 3s forwards;
}
.loader--logo {
  width: 70%;
  top: 40%;
}
.loader__items {
  height: 80px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.loader__items--dot {
  opacity: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.loader__items--dot:nth-child(odd) {
  background-color: #9356DC;
  border: #FF79DA 4px solid;
  animation: slidebis 500ms ease-in-out;
  transform-origin: 42px;
}
.loader__items--dot:nth-child(2) {
  background-color: #FF79DA;
  border: #9356DC 4px solid;
  animation: slide 500ms 500ms ease-in-out;
  transform-origin: 42px;
}
.loader__items--dot:nth-child(3) {
  animation-delay: 1000ms;
}
.loader__items--dot:last-child {
  background-color: #FF79DA;
  border: #9356DC 4px solid;
  animation: rotate 1.5s 1500ms ease-out;
  transform-origin: -76px;
}
@media screen and (min-width: 1024px) {
  .loader--logo {
    width: 30%;
  }
  .loader__items {
    width: 300px;
  }
  .loader__items--dot {
    height: 30px;
    width: 30px;
  }
  .loader__items--dot:nth-child(odd), .loader__items--dot:nth-child(2) {
    transform-origin: 62px;
  }
  .loader__items--dot:last-child {
    transform-origin: -114px;
  }
}

@keyframes rotate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(180deg);
    background-color: #9356DC;
    border: #FF79DA 4px solid;
  }
}
@keyframes slide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(180deg);
    background-color: #9356DC;
    border: #FF79DA 4px solid;
  }
}
@keyframes slidebis {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(180deg);
    background-color: #FF79DA;
    border: #9356DC 4px solid;
  }
}
@keyframes gopage {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
.fa-heart {
  cursor: pointer;
  font-size: 24px;
}

.checked {
  background: linear-gradient(to top, #9356DC, #FF79DA 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
  0% {
    background: linear-gradient(to top, #9356DC, #FF79DA 12.5%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
  }
  25% {
    background: linear-gradient(to top, #9356DC, #FF79DA 25%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(to top, #9356DC, #FF79DA 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }
  75% {
    background: linear-gradient(to top, #9356DC, #FF79DA 75%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(to top, #9356DC, #FF79DA 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
form {
  width: 100%;
  align-content: center;
  justify-content: center;
  display: flex;
}

button {
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  margin: 8px 0 32px 0;
  padding: 0 16px;
  border-radius: 25px;
  border: unset;
  color: white;
  background: linear-gradient(to bottom, #FF79DA 20%, #9356DC 80%);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 4px 4px 3px #d7d7d7;
  transition-duration: 250ms;
}
button:hover, button:active {
  box-shadow: 6px 6px 4px #d7d7d7;
  transform: scale(1.01);
  font-size: 19px;
}

.card {
  width: 90%;
  height: 280px;
  margin: auto;
  margin-bottom: 16px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 6px #dfdfdf;
  position: relative;
  overflow: hidden;
}
.card__image {
  height: 70%;
}
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__image--new {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 6px 12px;
  font-weight: bold;
  color: #278870;
  background-color: #99E2D0;
  border-radius: 3px;
}
.card__body {
  width: 100%;
  height: 30%;
  padding: 16px;
  box-sizing: border-box;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card__body h3, .card__body p {
  margin: 4px;
}
.card__body__checkbox input[type=checkbox], .card__body__checkbox .checked {
  display: none;
}
.card__body__checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  animation: rainbow 500ms ease-in;
}
.card__body__checkbox:hover .checked {
  display: inline-block;
  animation: rainbow 500ms ease-in;
}
.card__body__checkbox input[type=checkbox]:checked ~ .unckecked {
  display: none;
}
.card__body__checkbox:hover .unckecked {
  display: none;
}

@keyframes sliding {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}
@keyframes resizing {
  0% {
    width: 100%;
  }
  100% {
    width: 75%;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.menu__item__slider {
  width: 100px;
  height: 100%;
  color: white;
  background-color: #99E2D0;
  display: none;
  align-items: center;
  justify-content: center;
}
.menu__item__slider--checkicon {
  display: none;
}

.delay1 {
  opacity: 0;
  animation: cascading 2s 3000ms forwards;
}

.delay2 {
  opacity: 0;
  animation: cascading 2.5s 3500ms forwards;
}

.delay3 {
  opacity: 0;
  animation: cascading 3s 4000ms forwards;
}

.delay4 {
  opacity: 0;
  animation: cascading 3.5s 4500ms forwards;
}

@keyframes cascading {
  from {
    transform: translate(10px, 10px);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.header {
  padding: 16px;
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 40%;
}
.header__arrow {
  align-self: center;
  position: absolute;
  left: 16px;
  font-size: 20px;
}
@media screen and (min-width: 1024px) {
  .header__arrow {
    font-size: 32px;
  }
  .header__logo {
    width: 20%;
  }
}

footer {
  color: white;
  padding: 24px;
  background-color: #353535;
}
footer h3 {
  font-family: "Shrikhand";
  font-weight: normal;
  margin-top: 0;
}
footer a {
  color: white;
  width: fit-content;
  display: list-item;
}

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.topSection__location {
  background-color: #eaeaea;
  text-align: center;
}
.topSection__banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  text-align: center;
  margin: auto;
  margin-bottom: 32px;
}
.topSection__banner h1 {
  width: 60%;
  margin-bottom: auto;
}
.topSection__banner p {
  width: 80%;
}

.top_img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .guide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .guide .guide__tuto {
    width: 20%;
  }
  .guide .card {
    width: 20%;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .guide .guide__tuto {
    width: 50%;
  }
  .guide .card {
    width: 70%;
    margin-bottom: 32px;
  }
}
.guide__tuto {
  width: 90%;
  height: 80px;
  margin-bottom: 32px;
  border-radius: 20px;
  box-shadow: 3px 6px 8px #e7e7e7;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  position: relative;
}
.guide__tuto__number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -10px;
}
.guide__tuto__icon {
  font-size: 21px;
  color: #7e7e7e;
  margin: 0 32px;
}
.guide__tuto__text {
  font-size: 18px;
  font-weight: bold;
}
.guide__tuto:last-child {
  background-color: #f2eafb;
}
.guide__tuto:last-child .fa-store {
  color: #9356DC;
}

@media screen and (min-width: 1024px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants .guide__tuto {
    width: 20%;
  }
  .restaurants .card {
    width: 20%;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurants .guide__tuto {
    width: 50%;
  }
  .restaurants .card {
    width: 70%;
    margin-bottom: 32px;
  }
}

.menu {
  margin-top: -50px;
  z-index: 1;
  position: relative;
  padding: 16px;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
}
.menu h2 {
  height: fit-content;
  width: 30px;
  padding: 0 0 6px 0;
  margin-left: 5%;
  margin-bottom: 12px;
  border-bottom: 3px solid #99E2D0;
  font-weight: 300;
  align-self: start;
}
.menu__title {
  width: 95%;
  margin: 0 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__title h1 {
  font-family: "Shrikhand";
  font-size: 26px;
  font-weight: normal;
}
.menu__title__checkbox input[type=checkbox], .menu__title__checkbox .checked {
  display: none;
}
.menu__title__checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  animation: rainbow 500ms ease-in;
}
.menu__title__checkbox:hover .checked {
  display: inline-block;
  animation: rainbow 500ms ease-in;
}
.menu__title__checkbox input[type=checkbox]:checked ~ .unckecked {
  display: none;
}
.menu__title__checkbox:hover .unckecked {
  display: none;
}
.menu__item {
  cursor: pointer;
  width: 95%;
  height: 70px;
  margin-bottom: 16px;
  border-radius: 15px;
  box-shadow: 2px 2px 20px #dfdfdf;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu__item__body {
  width: 100%;
  min-width: 50%;
  margin: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.menu__item__body p, .menu__item__body h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__item__body h3 {
  width: 100%;
}
.menu__item__body p {
  max-width: 80%;
}
.menu__item__body__price {
  font-weight: 500;
}
.menu__item:hover .menu__item__slider, .menu__item:active .menu__item__slider {
  display: flex;
  animation: sliding 500ms ease-out;
}
.menu__item:hover .menu__item__slider .menu__item__slider--checkicon, .menu__item:active .menu__item__slider .menu__item__slider--checkicon {
  display: flex;
  animation: spinning 1s ease;
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu__locker {
    width: 30%;
    justify-content: unset;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__locker {
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
