footer{
    color: white;
    padding: 16px;
    background-color: #353535;
    h3{
        font-family: 'Shrikhand';
    }
    a{
        color: white;
        width: fit-content;
        display: list-item;
    }
}