footer{
    color: white;
    padding: 24px;
    background-color: #353535;
    h3{
        font-family: 'Shrikhand';
        font-weight: normal;
        margin-top: 0;
    }
    a{
        color: white;
        width: fit-content;
        display: list-item;
    }
}