.menu{
    margin-top: -50px;
    z-index: 1;
    position: relative;
    padding: 12px;
    background-color: $softGrey;
    border-radius: 25px 25px 0 0;
    &__title{
        margin: 0 12px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        h1{
            font-family:'Shrikhand', cursive;
            font-size: 24px;
        }
        @extend %checking;
        &__checkbox input[type="checkbox"], &__checkbox .checked{
            display: none;
        }
        
        &__checkbox input[type="checkbox"]:checked ~ .checked{
            display: inline-block;
            animation: rainbow 3s;
        }
    
        &__checkbox input[type="checkbox"]:checked ~ .unckecked{
            display: none;
        }
    }
    h2{
        font-size: 20px;
        font-weight: 300;
    }
}