.menu{
    margin-top: -50px;
    z-index: 1;
    position: relative;
    padding: 12px;
    background-color: $softGrey;
    border-radius: 25px 25px 0 0;
    h2{
        height: fit-content ;
        width: 40px;
        padding: 0 0 6px 0;
        margin-left: 5%;
        margin-bottom: 12px;
        border-bottom: 3px solid $thirdColor;
        font-weight: 300;
        align-self: start;
        }
    &__title{
        width: 95%;
        margin: 0 12px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        h1{
            font-family:'Shrikhand';
            font-size: 24px;
            font-weight: normal;
        }
        
        &__checkbox input[type="checkbox"], &__checkbox .checked{
            display: none;
        }
        
        &__checkbox input[type="checkbox"]:checked ~ .checked{
            display: inline-block;
            -webkit-animation: rainbow 250ms ease;
                    animation: rainbow 250ms ease;
        }
    
        &__checkbox input[type="checkbox"]:checked ~ .unckecked{
            display: none;
        }
    }
    @include menu-breakpoint;
}