.topSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &__location{
        background-color: $darkGrey;
        text-align: center;
        
    }
    &__banner{
        width: 100%;
        @include vertical-display;
        background-color: $softGrey;
        text-align: center;
        margin: auto;
        margin-bottom: 32px;
        h1{
            width: 60%;
            margin-bottom: auto;
        }
        p{
            width: 80%;
        }
    }
}

// pages type menu //
.top_img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}