form{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

button{
    cursor: pointer;
    min-width: 200px;
    height: 50px;
    margin: 8px 0 32px 0;
    padding:0 16px;
    border-radius:25px;
    border: unset;
    color: white;
    background: $rainbowColor;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 4px 4px 3px #d7d7d7;
    transition-duration: 250ms;
    &:hover,&:active{
        box-shadow:  6px 6px 4px #d7d7d7;
        transform: scale(1.01);
        font-size: 19px;
    }
}
