form{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

button{
    cursor: pointer;
    min-width: 200px;
    height: 50px;
    margin: 8px 0 32px 0;
    padding:0 16px;
    border-radius:25px;
    border: unset;
    color: white;
    background: $rainbowColor;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 4px 4px 3px $darkGrey;
    transition-duration: 250ms;
    &:hover,&:active{
        box-shadow:  6px 6px 4px darken($darkGrey, 10%);
        transform: scale(1.01);
        font-size: 18px;
        background: linear-gradient(to bottom, lighten(#FF79DA, 2.5%) 20%, lighten(#9356DC, 2.5%) 80%);
    }
}
