.card{
    width: 90%;
    height: 280px;
    margin: auto;
    margin-bottom: 16px;
    border-radius: 20px;
    background-color: white;
    box-shadow:  1px 1px 6px #dfdfdf;
    position: relative;
    overflow: hidden;
    transition-duration: 250ms;
    &__image{
        height: 70%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--new{
            position: absolute;
            right: 15px;
            top:15px;
            padding: 6px 12px;
            font-weight: bold;
            color: darken($thirdColor, 40%);
            background-color: $thirdColor;
            border-radius: 3px;
        }
    }

    &__body{
        width: 100%;
        height: 30%;
        padding: 16px;
        box-sizing: border-box;
        color: black;
        background-color: white;
        @include horizontal-display;
        align-items: center;

        h3,p{
            margin:4px;
        }

        &__checkbox{
            .checked{
                display: none;
            }
            &:hover,&:active{
                .checked{
                    display: inline-block;
                animation: rainbow 500ms ease-in;
                }
                .unchecked{
                    display: none;
                }
            }
        }
    }
    &:hover,&:active{
        box-shadow:  6px 6px 4px #d7d7d7;
        transform: scale(1.01);
    }
}