.card{
    width: 90%;
    height: 280px;
    margin: auto;
    margin-bottom: 12px;
    border-radius: 20px;
    background-color: white;
    box-shadow:  1px 1px 6px #dfdfdf;
    position: relative;
    overflow: hidden;
    &__image{
        height: 70%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &--new{
            position: absolute;
            right: 15px;
            top:15px;
            padding: 6px 12px;
            font-weight: bold;
            color: darken($thirdColor, 40%);
            background-color: $thirdColor;
            border-radius: 3px;
        }
    }
    &__body{
    width: 100%;
    height: 30%;
    padding: 16px;
    box-sizing: border-box;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h3,p{
        margin:4px;
    }
    &__checkbox input[type="checkbox"], &__checkbox .checked{
        display: none;
    }
    
    &__checkbox input[type="checkbox"]:checked ~ .checked{
        display: inline-block;
                animation: rainbow 300ms ease;
    }

    &__checkbox input[type="checkbox"]:checked ~ .unckecked{
        display: none;
    }
    }
}