.delay1{
    opacity: 0;
    animation: cascading 2s 500ms forwards;
}
.delay2{
    opacity: 0;
    animation: cascading 2.5s 1000ms forwards;
}

.delay3{
    opacity: 0;
    animation: cascading 3s 1500ms forwards;
}

.delay4{
    opacity: 0;
    animation: cascading 3.5s 2000ms forwards;
}



@keyframes cascading{
    from{
        transform:translate(10px, 10px) ;
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}