.delay1{
    animation: cascading 5s;
}
.delay2{
    animation: cascading 4s 250ms;
}

.delay3{
    animation: cascading 3s 500ms;
}

.delay4{
    animation: cascading 2s 750ms;
}


@-webkit-keyframes cascading{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes cascading{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}