.fa-heart{
    cursor: pointer;
    font-size: 24px;
    
}

.checked{
    background: linear-gradient(45deg,$primaryColor,$secondaryColor 24px);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes rainbow {
    0%{
        background: linear-gradient(45deg,$primaryColor , $secondaryColor 0px);
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    25%{
        background: linear-gradient(45deg,$primaryColor , $secondaryColor 6px );
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    50%{
        background: linear-gradient(45deg,$primaryColor , $secondaryColor 12px);
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    75%{
        background: linear-gradient(45deg,$primaryColor , $secondaryColor 18px );
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    100%{
        background: linear-gradient(45deg,$primaryColor , $secondaryColor 24px);
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent; 
    }
}

