.fa-heart{
    cursor: pointer;
    font-size: 24px;
    
}


.checked{
    background: linear-gradient(to top,$primaryColor,$secondaryColor 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


@keyframes rainbow {
    0%{
        background: linear-gradient(to top,$primaryColor,$secondaryColor 12.5%);
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        opacity: 0;
    }
    25%{
        background: linear-gradient(to top,$primaryColor,$secondaryColor 25%);
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    50%{
        background: linear-gradient(to top,$primaryColor,$secondaryColor 50%);
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        opacity: 1;
    }
    75%{
        background: linear-gradient(to top,$primaryColor,$secondaryColor 75%);
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    100%{
        background: linear-gradient(to top,$primaryColor,$secondaryColor 100%);
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
}

