.fa-heart{
    font-size: 24px;
}

.checked{
    color: $primaryColor;
}

@keyframes rainbow {
    25% { 
        color: $secondaryColor;
    }
    50%   {
        color: $primaryColor; 
    }
    75%{ 
        color: $secondaryColor;
    }
}

