.menu__item{
    cursor: pointer;
    width: 95%;
    height:70px;
    margin-bottom: 16px;
    border-radius: 15px;
    box-shadow:  2px 2px 20px #dfdfdf;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    &__body{
        width: 100%;
        min-width: 50%;
        margin:12px 0 12px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;        
        p,h3{
            max-width: 90%;
            margin: 0;
            white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
    }
    &__price{
        font-size: 16px;
        margin: 0 12px 12px 0;
        font-weight: 500;
        align-self:end;
    }
    &:hover, &:active{
        &> .menu__item__slider{
            display: flex;
            animation: sliding 1s;
            .menu__item__slider--checkicon{
            animation: spinning 500ms;
            }
        }
    }
}
