.loader{
    width: 100%;
    height:100%;
    position : fixed;
    z-index: 100;
    background-color: $thirdColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: gopage 2s forwards;
    &--logo{
        width: 70%;
        top:40%;
    }
    &__items{
        
        height: 20%;
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        &--dot1{
            height: 25px;
            width: 25px;
            background-color: $primaryColor;
            border-radius: 50%;
            animation: slide 2s infinite ease;
        }
        &--dot2{
                height: 25px;
                width: 25px;
                background-color: $secondaryColor;
                border-radius: 50%;
                animation: slide 2s infinite ease;
        }
        &--dot3{
            height: 25px;
            width: 25px;
            background-color: $primaryColor;
            border-radius: 50%;
            animation: slide 2s infinite ease;

        }
        &--dot4{
            height: 25px;
            width: 25px;
            background-color: $secondaryColor;
            border-radius: 50%;
            animation: rotate 2s infinite ease;
            transform-origin: -260%;
        }
    }
    @include loader-breakpoint;
}

@keyframes rotate{
    100%{
        transform: rotate(180deg);
        background-color: $primaryColor;
    }
}

@keyframes slide{
    100%{
        transform: translatex(200%);
        background-color: $secondaryColor;
    }
}

@keyframes gopage{
    99%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        z-index: -10;
    }
}