@keyframes sliding{
    0%{
        width: 0;
    }
    100%{
        width: 100px;
    }
}

@keyframes spinning{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}