@mixin vertical-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

@mixin horizontal-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@mixin index-breakpoint{
    @media screen and (min-width: 1024px){
        @include horizontal-display;
        .guide__tuto {
            width: 20%;
        }
        .card{
            width: 40%;
        }
    }
}

@mixin menu-breakpoint{
    @media screen and (min-width: 1024px){
        @include horizontal-display;
        &__locker{
            width: 30%;
            justify-content: unset;
        }
    }
}

@mixin header-breakpoint{
    @media screen and (min-width: 1024px){
        &__arrow{
            font-size: 32px;
        }
        &__logo{
            width: 20%;
        }
    }
}

@mixin loader-breakpoint{
    @media screen and (min-width: 1024px){
        &--logo{
            width: 50%;
        }
    }
}